<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://94.139.247.116:5432/dbstud</property>
        <property name="hibernate.connection.username">a_zalyaeva</property>
        <property name="hibernate.connection.password">r73GfJ#_30Gk</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="main.entity.Author"/>
        <mapping class="main.entity.LiteraryWorks"/>
        <mapping class="main.entity.LibraryFund"/>
        <mapping class="main.entity.Library"/>
        <mapping class="main.entity.ReadingRoom"/>
        <mapping class="main.entity.Librarians"/>
        <mapping class="main.entity.User"/>
        <mapping class="main.entity.LibraryCard"/>
        <mapping class="main.entity.Workers"/>
        <mapping class="main.entity.WorksInFund"/>
        <mapping class="main.entity.CardToHandOut"/>
        <mapping class="main.entity.Pupils"/>
    </session-factory>
</hibernate-configuration>